<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Конвертер валют</title>
</head>
<body>
    <form th:action="@{/}" method="post">
        <label for="input_currency">Введите сумму</label>
        <input type="number" name="input_currency" id="input_currency" min="0" step="0.01" required><br><br>

        <label for="select_input_currency">Введите входную валюту</label>
        <select name="select_input_currency" id="select_input_currency" >
            <option th:each="currency : ${currencies}" th:value="${currency.getId()}" th:text="${currency.getName()}"/>
        </select><br><br>

        <label for="select_output_currency">Введите выходную валюту</label>
        <select name="select_output_currency" id="select_output_currency">
            <option th:each="currency : ${currencies}" th:value="${currency.getId()}" th:text="${currency.getName()}"/>
        </select><br><br>

        <button type="submit" id="calculate-button">Конвертировать</button>
    </form>
</body>
</html>